<!-- HOME
================================================== -->
<section id="home" class="my-5">
    <div class="container">
        <div class="row mb-3">
            <h1>¡Bienvenido {{this.profile.nickname}}!</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 main-block d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h4>Visitas totales</h4>
                    <h2 class="display-4">29</h2>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 dash-block">
                <h4>Visitas por día</h4>
                <img src="../../../assets/tragh/visitas.png" alt="visitas" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 col-lg-4 dash-block">
                <h4>Visitas por ciudad</h4>
                <img src="../../../assets/tragh/ciudades.png" alt="ciudades" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 col-lg-4 dash-block">
                <h4>Visitas por dispositivos</h4>
                <img src="../../../assets/tragh/dispositivos.png" alt="dispositivos" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 col-lg-4 dash-block">
                <h4>Fuentes de adquisición</h4>
                <img src="../../../assets/tragh/fuentes.png" alt="fuentes" class="img-fluid">
            </div>
        </div>
    </div>
</section>
